@import url(vim.css);
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.jumbotron {
    border-radius: 0;
    background-color: #000;
    color: #fff;
}

.navbar-brand, .jumbotron {
    font-family: 'Press Start 2P', cursive;
}

.posts {
    list-style: none;
}

.posts h2 a {
    color: #9b8a8a;
}

.posts li {
    border-bottom: solid 1px #ccc;
    margin: 5px;
}

.posts ul:last-child {
    border-bottom: none;
} 

.posts li:last-of-type {
    border-bottom: none;
}

footer ul {
    display: block;
}

footer li {
    list-style: none;
    display: inline;
    padding: 20px;
}

.posts {
    list-style: none;
}