@import url(vim.css);
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.container-fluid {
    padding: 60px 0 0 0;
}

.jumbotron {
    border-radius: 0;
    background-color: #000;
    color: #fff;
}

.navbar-brand, .jumbotron {
    font-family: 'Press Start 2P', cursive;
}

.navbar-brand img {
    border-radius: 5px;
}

.navbar-brand img:hover {
    height: 60px;
    width: 60px;
}	

.bg-light {
    font-size: 24px!important;
}

.navbar, .nav-link {
font-size: 24px;
}



.navbar-brand:hover, .nav-item:hover {
    transform: rotate(10deg);
    transition-duration: 300ms;
}

a.nav-link:hover {
    font-size: 150%;
    color: orangered !important;
}

.posts {
    list-style: none;
}

.posts h2 a {
    color: #9b8a8a;
}

.posts li {
    border-bottom: solid 1px #E5E5E5;
    padding-top: 10px;
    margin: 5px;
}

.posts li:last-of-type {
    border-bottom: none;
}

footer ul {
    display: block;
}

footer li {
    list-style: none;
    display: inline;
    padding: 20px;
}

.posts {
    list-style: none;
}

table {
    width: 100%;
}

td {
    padding: 5px;
}



@media only screen and (max-width: 900px){
    .bg-light {
            font-size: 2rem!important;
        }

        a.nav-link {
            font-size: 35px;
        }

        .nav-item:hover {
            transform: none;
            font-size: 35px;
        }
        
}