@import url(vim.css);
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.jumbotron {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Press Start 2P', cursive;
}

footer ul {
    display: block;
}

footer li {
    list-style: none;
    display: inline;
    padding: 20px;
}

.posts {
    list-style: none;
}