---
layout: default
permalink: /categories/
title: Categories
---

<div class="jumbotron">
  <h1>Post Categories</h1>
</div>
<div id="archives" class="container">
  {% assign sortedCategories = site.categories | sort %} {% for category in
  sortedCategories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h2 class="category-head">{{ category_name | capitalize}}</h2>
    <a
      name="{{ category_name | slugize }}"
      id="{{category_name | slugize}}"
    ></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
    </article>
    {% endfor %}
  </div>
  {% endfor %}
</div>
