---
layout: default
title: Dew of your Youth
---

<div class="jumbotron">
  <h1>{{ page.title }}</h1>
  <p>{{ site.description }}</p>
</div>

<div class="container">
  <ul class="posts">
    {% for post in site.posts %}
    <li>
      <span> {{ post.date | date_to_string }}</span>
      <h2>
        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
      </h2>
      {% if post.categories != nil %}
      <p class="meta">
        CATEGORIES: {{ post.categories | join ', ' | capitalize }}
      </p>
      {% endif %}
      <div class="excerpt">{{ post.excerpt }}</div>
    </li>
    {% endfor %}
  </ul>
</div>
