---
layout: default
title: Dew of your Youth
---

<div class="jumbotron">
  {{/*
  <h1 class="hebrew-logo">טל ילדתיך</h1>
  */}}
  <h1>{{ page.title }}</h1>
  <p>{{ site.description }}</p>
</div>

<div class="container">
  <p>
    <a class="btn btn-primary" href="/feed.xml">
      <i class="fas fa-rss"></i> Subscribe to RSS</a
    >
  </p>
  <ul class="posts">
    {% for post in paginator.posts %}
    <li>
      <small> {{ post.date | date_to_string }}</small>
      <h4>
        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
      </h4>
      {% if post.categories != empty %}
      <p class="meta">
        <strong>CATEGORIES:</strong> {{ post.categories | join: ', ' }}
      </p>
      {% endif %}
      <div class="excerpt">{{ post.excerpt }}</div>
    </li>
    {% endfor %}
  </ul>
</div>
<!-- Pagination links -->
<hr />
<div class="container text-center">
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      <i class="fas fa-arrow-circle-left"></i>
    </a>
    {% else %} {% endif %}
    <span class="page_number">
      Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next"
      ><i class="fas fa-arrow-circle-right"></i
    ></a>
    {% else %} {% endif %}
  </div>
</div>
