<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">


		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://codepen.io/JacobShore/"><i class="fab fa-codepen"></i> JacobShore</a></li>
					<li><a href="https://github.com/dewofyouryouth"><i class="fab fa-github"></i> dewofyouryouth</a></li>
					<li><a href="https://twitter.com/dewofyouryouth"><i class="fab fa-twitter"></i> dewofyouryouth</a></li>
				</ul>
			</footer>
		</body>
	</html>
