<!DOCTYPE html>
	<html>
		<head>
			
			<title>{{ page.title }}</title>
			<meta name="description" content="Dew of your Youth: Yaakov Shore's ramblings about coding, tech, life and banjo."/>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<style>
				@media only screen and (max-width: 900px){
					.bg-light {
									font-size: 24px!important;
							}
						.navbar, .nav-link {
							font-size: 24px;
						}
			}
			</style>
		<body>
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
						<a class="navbar-brand" href="/">DOYY</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						  <span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNav">
						  <ul class="navbar-nav">
							<li class="nav-item active">
							  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" href="/about.html">About</a>
							</li>
						  </ul>
						</div>
					  </nav>
			<div class="container-fluid">
			
			{{ content }}
			
			</div><!-- /.container -->
			<hr>
			<footer>
				<div class="container">
					<div class="row text-center">
						<div class="col-md-4"><a href="https://codepen.io/JacobShore/"><i class="fab fa-codepen"></i> JacobShore</a></div>
						<div class="col-md-4"><a href="https://github.com/dewofyouryouth"><i class="fab fa-github"></i> dewofyouryouth</a></div>
						<div class="col-md-4"><a href="https://twitter.com/dewofyouryouth"><i class="fab fa-twitter"></i> dewofyouryouth</a></div>
					</div>
				</div>
				
			</footer>
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
		</body>
	</html>
