---
layout: default
comments: true
---

<div class="container">
  <br />
  <h1>{{ page.title }}</h1>
  <div class="meta">posted: {{ page.date | date_to_string }}</div>
  {% if page.categories != empty || page.tags != empty %} {% if page.categories
  != empty %}
  <div class="meta">
    categories: {% for category in page.categories %}{{category}}, {% endfor %}
  </div>
  {% endif %} {% if page.tags != empty %}
  <div class="meta">
    tags: {{ page.tags | join: ', ' }}
  </div>
  {% endif %}
  <hr />
  {% endif %}

  <div class="post">
    {{ content }}
  </div>
  &nbsp;
  <br />
  <hr />

  {% if page.comments %}
  <div id="disqus_thread"></div>
  <script>
    (function() {
      // DON'T EDIT BELOW THIS LINE
      var d = document,
        s = d.createElement('script');
      s.src = 'https://dewofyouryouth-github-io.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript
    >Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript"
      >comments powered by Disqus.</a
    ></noscript
  >

  {% endif %}
</div>
